<form id="flat-search-form">
	<label>City
		<select name="city">
			{{#each cities}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</label>
	<label>Rooms from
		<input name="lowRooms" type="number" min="1" value="1">
	</label>
	<label>to
		<input name="highRooms" type="number" min="1" value="5">
	</label>
	<label>Price from
		<input name="lowPrice" type="number" min="0" value="1000" step="100">
	</label>
	<label>to
		<input name="highPrice" type="number" min="0" value="10000" step="100">
	</label>hrn
	<label>Sort by
		<select name="sortBy">
			<option value="createdAt">Created at</option>
			<option value="rooms">Rooms</option>
			<option value="price">Price</option>
		</select>
	</label>
	<select name="sortDirection">
		<option value="1">Inc</option>
		<option value="-1">Dec</option>
	</select>
	<button type="submit">Search</button>
</form>